<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/one-country.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="header">
        <div class="header-text-wrapper">
            <img class="logo" src="{{ url_for('static',filename='assets/logo.png') }}">
            <h1 class="headerText"> ENERGY MARKET ANALYSIS</h1>
        </div>
        <div class="home-button-wrapper">
            <div class="home-button" id="return-home">
                <h1>Return Home</h1>
            </div>
        </div>
    </div>
    <div class="title">
        <h1>One Country - Same Time Periods</h1>
    </div>
    <div class="information">
        <h1 class="title">
            Information
        </h1>
        <h1 class="text">
            Η Πρώτη Λειτουργία χρησιμοποιείται για την αναζήτηση τιμών ηλεκτρικής ενέργειας σε διάφορες χρονικές περιόδους στην Ελλάδα. Ο χρήστης έχει την επιλογή να διαλέξει οποιοδήποτε χρονικό διάστημα μέχρι ενός έτους και να δει τους πιο σημαντικούς δείκτες. 
        </h1>
    </div>
    <div class="usage">
        <h1 class="title">
            Usage
        </h1>
        <h1 class="text">
            Η Λειτουργία αυτή απαιτεί αποκλειστικά ένα χρονικό διάστημα επιλογής όπου θα περιορίζεται σε μέγιστο ενός έτους και σε ημερομηνίες έπειτα από το 2015 καθώς τότε άρχισε η συλλογή δεδομένων. Έπειτα μπορείτε να αλλάξετε την υποδιαίρεση των σημείων από Ωριαία σε Ημερήσια, Εβδομαδιαία και Μηνιαία βάση.
        </h1>
    </div>
    <div class="inputs">
        <div class="datapickers">
            <div class="start">
                <h1>Starting Date</h1>
                <div class="relative max-w-sm">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </div>
                    <input datepicker type="text" id="start_date"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Select date">
                </div>
            </div>
            <div class="end">
                <h1>End Date</h1>
                <div class="relative max-w-sm">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </div>
                    <input datepicker type="text" id="end_date"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Select date">
                </div>
            </div>
        </div>
        <div class="options couldBeInvisible invisible">
            <div class="checkbuttons">
                <div class="checkbox-wrapper-2">
                    <input type="checkbox" class="sc-gJwTLC ikxBAC" id="min">
                    <h1>Minimum</h1>
                </div>
                <div class="checkbox-wrapper-2">
                    <input type="checkbox" class="sc-gJwTLC ikxBAC" id="max">
                    <h1>Maximum</h1>
                </div>
                <div class="checkbox-wrapper-2">
                    <input type="checkbox" class="sc-gJwTLC ikxBAC" id="avg" checked>
                    <h1>Average</h1>
                </div>
                <div class="checkbox-wrapper-2">
                    <input type="checkbox" class="sc-gJwTLC ikxBAC" id="sd" checked>
                    <h1>Standard Deviation</h1>
                </div>
            </div>
        </div>
        <div class="add-regions-bidding-input">
            <div class="regions-bidding">
                <select id="timeline-selector">

                </select>
            </div>
        </div>
        <div class="button" id="button">
            <h1> Get Data </h1>
        </div>
    </div>
    <div class="spinner-wrapper">
        <div class="lds-default invisible" id="spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="GraphCanvas" id="canvas">
        <div class="Chart">
        </div>
    </div>
    <script>

        const Timeline = [
            "Hourly",
            "Daily",
            "Weekly",
            "Monthly"
        ]

        const Values = [
            1,
            24,
            168,
            720
        ]

        var timelineSelector = document.getElementById("timeline-selector");
        timelineSelector.innerHTML = "";
        for(var i = 0; i < Timeline.length; i++)
        {
            timelineSelector.innerHTML += `<option value="${Values[i]}">${Timeline[i]}</option>`;
        }

        <!-- Enable Options -->
        function enableOptions()
        {
            var elements = document.getElementsByClassName("couldBeInvisible")
            for(var i = 0; i < elements.length; i++)
            {
                elements[i].classList.remove("invisible");
            }
        }

        <!-- Get Data -->
        function getData() {

            var spinner = document.getElementById("spinner");
            spinner.classList.remove("invisible");
            var chart = document.getElementById("canvas");
            chart.classList.add("invisible");

            axios.post(
                '/getdata',
                {
                    data: [[document.getElementById("start_date").value.replaceAll("/","-"), document.getElementById("end_date").value.replaceAll("/","-")]],
                    timeline: document.getElementById("timeline-selector").value
                }
            ).then((response) => {
                const data = {
                    labels: response["data"].data[0][1],
                    datasets: [
                        {
                            type: 'line',
                            label: 'Price',
                            data: response["data"].data[0][0],
                            borderColor: "#FF0000",
                            fill: false,
                            stepped: true,
                        }
                    ]
                }

                <!-- Anotations -->

                const minLine = {
                    type: 'line',
                    borderColor: 'rgb(100, 149, 237)',
                    borderDash: [6, 6],
                    borderDashOffset: 0,
                    borderWidth: 3,
                    label: {
                        display: true,
                        backgroundColor: 'rgb(100, 149, 237)',
                        content: (ctx) => 'Min: ' + response["data"].data[0][3].toFixed(2)
                    },
                    scaleID: 'y',
                    value: (ctx) => response["data"].data[0][3]
                }

                const maxLine = {
                    type: 'line',
                    borderColor: 'rgb(100, 149, 237)',
                    borderDash: [6, 6],
                    borderDashOffset: 0,
                    borderWidth: 3,
                    label: {
                        display: true,
                        backgroundColor: 'rgb(100, 149, 237)',
                        content: (ctx) => 'Max: ' + response["data"].data[0][2].toFixed(2)
                    },
                    scaleID: 'y',
                    value: (ctx) => response["data"].data[0][2]
                }

                const avgLine = {
                    type: 'line',
                    borderColor: 'rgb(100, 149, 237)',
                    borderDash: [6, 6],
                    borderDashOffset: 0,
                    label: {
                        display: true,
                        backgroundColor: 'rgb(100, 149, 237)',
                        content: (ctx) => 'Average: ' + response["data"].data[0][4].toFixed(2)
                    },
                    scaleID: 'y',
                    value: (ctx) => response["data"].data[0][4]
                }

                const sndrDeviationPl = {
                    type: 'line',
                    borderColor: 'rgba(102, 102, 102, 0.5)',
                    borderDash: [6, 6],
                    borderDashOffset: 0,
                    borderWidth: 3,
                    label: {
                        display: true,
                        backgroundColor: 'rgba(102, 102, 102, 0.5)',
                        color: 'black',
                        content: (ctx) => (response["data"].data[0][4] + response["data"].data[0][5]).toFixed(2),
                    },
                    scaleID: 'y',
                    value: (ctx) => response["data"].data[0][4] + response["data"].data[0][5]
                }

                const sndrDeviationMin = {
                    type: 'line',
                    borderColor: 'rgba(102, 102, 102, 0.5)',
                    borderDash: [6, 6],
                    borderDashOffset: 0,
                    borderWidth: 3,
                    label: {
                        display: true,
                        backgroundColor: 'rgba(102, 102, 102, 0.5)',
                        color: 'black',
                        content: (ctx) => (response["data"].data[0][4] - response["data"].data[0][5]).toFixed(2),
                    },
                    scaleID: 'y',
                    value: (ctx) => response["data"].data[0][4] - response["data"].data[0][5]
                }

                <!-- Check Options -->

                var custom_anotations = {};
                if(document.getElementById("avg").checked){
                    custom_anotations[0] = avgLine;
                }
                if(document.getElementById("sd").checked) {
                    custom_anotations[1] = sndrDeviationMin;
                    custom_anotations[2] = sndrDeviationPl;
                }
                if(document.getElementById("min").checked){
                    custom_anotations[3] = minLine;
                }
                if(document.getElementById("max").checked){
                    custom_anotations[4] = maxLine;
                }

                const config = {
                    data: data,
                    options: {
                        scales: {
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Price per MWH'
                                },
                                beginAtZero: true,
                            },
                            x: {
                                displau: true,
                                title: {
                                    display: true,
                                    text: 'Dates'
                                }
                            }
                        },
                        responsive: true,
                        interaction: {
                            intersect: false,
                            axis: 'x'
                        },
                        plugins: {
                            annotation: {
                                annotations: custom_anotations
                            }
                        }
                    }
                };

                const chartArea = document.getElementsByClassName('Chart');
                if(chartArea[0].childElementCount > 0)
                {   
                    chartArea[0].innerHTML = ''
                }
                

                chartArea[0].innerHTML = '<canvas id="ChartCanvas"></canvas>';
                const ctx = document.getElementById("ChartCanvas");
                new Chart(ctx, config);
                enableOptions();

                spinner.classList.add("invisible");
                chart.classList.remove("invisible");
            });

        }

        function redirect (url) {
            var ua        = navigator.userAgent.toLowerCase(),
                isIE      = ua.indexOf('msie') !== -1,
                version   = parseInt(ua.substr(4, 2), 10);
        
            // Internet Explorer 8 and lower
            if (isIE && version < 9) {
                var link = document.createElement('a');
                link.href = url;
                document.body.appendChild(link);
                link.click();
            }
        
            // All other browsers can use the standard window.location.href (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
            else { 
                window.location.href = url; 
            }
        }

        <!-- Create Listeners -->
        document.getElementById("button").addEventListener("click", function(){
            getData();
        });

        document.getElementById("return-home").addEventListener("click", function(){
            redirect("/");
        });

    </script>
</body>

</html>